<p id="notice"><%= notice %></p>

<p>
  <strong>Item:</strong>
  <%= @state_recycle_law.item_id %>
</p>

<p>
  <strong>State name:</strong>
  <%= @state_recycle_law.state_name %>
</p>

<p>
  <strong>State abr:</strong>
  <%= @state_recycle_law.state_abr %>
</p>

<p>
  <strong>Description:</strong>
  <%= @state_recycle_law.description %>
</p>

<%= link_to 'Edit', edit_state_recycle_law_path(@state_recycle_law) %> |
<%= link_to 'Back', state_recycle_laws_path %>
